<nb-layout>
  <nb-layout-column>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <nb-card style=" margin-top: 25vh;">
            <nb-card-header>
              <h1>ورود به سیستم</h1>
            </nb-card-header>
            <form *ngIf="state == LoginState.EnterPhoneNumber" (ngSubmit)="submitPhone()" style="padding: 1em;"
              [formGroup]="phoneLoginForm">
              <input id="phone" class="form-control form-control-lg" placeholder="شماره موبایل" formControlName="phone">
              <div class="text-danger" *ngIf="phoneLoginForm.invalid" style="padding-top: 1em;">
                <i class="fal fa-exclamation-triangle fa-3x"
                  style="float: right; clear: both; vertical-align: middle"></i>

                <p>
                  شماره موبایل باید به صورت ۱۱ رقمی (09120000000) وارد شود!
                </p>
              </div>

              <br>
              <button type="submit" class="btn btn-block btn-primary btn-lg"
                [disabled]="phoneLoginForm.invalid">ورود</button>
            </form>
            <div class="text-center" *ngIf="state == LoginState.SendingCode || state == LoginState.VerifyingCode">
              <i class="fas fa-spinner-third fa-spin fa-5x"></i>
            </div>
            <form *ngIf="state == LoginState.EnterCode" (ngSubmit)="submitPhone()" style="padding: 1em;"
              [formGroup]="codeVerificationForm">
              <input class="form-control form-control-lg" placeholder="کد" formControlName="code">
              <div class="text-danger" *ngIf="phoneLoginForm.invalid" style="padding-top: 1em;">
                <i class="fal fa-exclamation-triangle fa-3x"
                  style="float: right; clear: both; vertical-align: middle"></i>

                <p>
                  شماره موبایل باید به صورت ۱۱ رقمی (09120000000) وارد شود!
                </p>
              </div>

              <br>
              <button type="submit" class="btn btn-block btn-primary btn-lg"
                [disabled]="phoneLoginForm.invalid">ورود</button>
            </form>
          </nb-card>
        </div>
        <div class="col-sm-12 col-md-8">
          <img style="margin-top: 25vh; width: 100%;" src="/assets/Surface Pro Mockup.png">
        </div>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>
